extends layout

block content
  h1= title
  p Welcome to #{title}
  p Search the api in the box below
  div
    label Search query
    input#search
  div
    label Size of search
    input(type="number" value="10")#size
  div
    label Page
    input(type="page" value="0")#page
    pre.code

  script(src='/javascripts/client.js')
