body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  margin-left: 10px;
}

.code {
	display: block;
	background: #2F2424;
  margin-top: 10px;
  padding: 10px;
  overflow: scroll;
  min-height: 20px;
  color: #fff
}